.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
  }
  
  .payment-methods {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-bottom: 20px;
  }
  
  .payment-method {
    display: flex;
    
    
    align-items: center;
    width: 200px;
    height: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .payment-method img {
    width: 50px;
    height: 50px;
  }
  
  .payment-method p {
    margin-top: 5px;
    font-size: 14px;
  }
  
  .details {
    text-align: center;
  }
  
  .details h2 {
    margin-bottom: 10px;
  }
  
  .details-content {
    display: none;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
  }
  